@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.cakes-section{
    background: rgba(0,0,0,0.9)url("c1.jpeg");
        background-size: cover;
        background-blend-mode: darken;
        height: 700px;
        color: white;
}


.nav-link{
   margin: 10px;
}

.para1{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 4rem;
    font-weight: bolder;

    
}

.hr-red{
width: 10%!important;
}

.mid-img{
    background-image: url("c2.jpeg");
  height: 200px;
  width: 800px;
  margin-left:13%;

}


.section-1{
    margin-top: 10%;
    
}

/* footer */

.footer{
    background-color: rgb(217, 10, 44);
    box-sizing: border-box;
    padding: 10px;
    
}

.form-length{
    width: 72%;
    padding: 15px;
    margin-top: 10px;
}

.facebook{
background-color: rgb(229, 229, 191);
padding: 10px;
width: 40px;
height: 40px;
border-radius: 20px;

}

i{
    color: rgb(218, 11, 45);
}

.facebook:hover{
    background-color: rgb(225, 45, 75);
    border-radius: 50%;
}


i:hover{
    color: white;
}
